<% if current_user %>
  <div class="current-user">
    <div class="greetings">Hello, <%= current_user.name %>!</div>
    <div class="button sign-out"><%= link_to "Sign Out", sign_out_path, method: :post %></div>
  </div>

  <div class="post-tweet">
    <%= form_for :tweet, url: tweets_path do |f| %>
      <%= f.text_area :text, maxlength: 280, placeholder: "What's happening?" %>
      <%= f.submit "Tweet", class: "button" %>
    <% end %>
  </div>

  <div class="tweets">
    <% tweets.each do |tweet| %>
      <p><%= tweet.text.html_safe %></p>
    <% end %>
    <div class="pagination">
      <%= paginate tweets %>
    </div>
  </div>


<% else %>
<div class="button-container">
  <div class="button sign-in"><%= link_to "Sign in with Twitter", "/auth/twitter" %></div>
</div>
<% end %>
